.slider{
    width: 100%;
    height: 750px;
    background-color: #000;
    background-image: url(../img/yakov_Daza_red_mother_board_e5f811a1-ef45-41f7-8074-fe6a964e4699.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.presentacion{
    width: 50%;
    float: right;
    margin-top: 330px;
    padding: 40px;

}
.presentacion p{
    color: #fff;
    font-size: 18px;
    text-align: justify;
    margin-left: 50px;
    
}
.presentacion h2{
    color: var(--principal-color);
    font-size: 52px;
}
@media only screen and (max-width: 768px){
    .slider{
        display: none;
    }
}
